<% provide(:title, 'Events') %>

<h1> Showing <%= @events.count %> live events </h1>

<%= render 'table', object: @events %>  

<div class="btn-group">
    <%= link_to "Create an event", new_event_path, class: "btn btn-default btn-lg btn-primary" %>
</div> 

<h1> Showing <%= @pastevents.count %> past events </h1>

<%= render 'table', object: @pastevents %>   


